// overriding image path
$flagsImagePath: "http://res.cloudinary.com/junomedical/image/upload/unbounce/";

@import "../../models/intlTelInput.scss";

.iti-flag {
  display: inline-block;
}

.selected-flag mat-icon {
  vertical-align: bottom;
}
 
.last-preferred {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.wrapper {
  display: flex;
}

.spacer {
  flex-basis: 0 0 1em;
  width: 1em; 
}

.flag-container {
  flex-shrink: 2;
}

.phone-container {
  flex-shrink: 1;
}

@media (min-width: 600px) {
  .phone-container {
    flex-shrink: 0;
  }
}


 /* 
:host /deep/ .flag-container .mat-input-infix.mat-form-field-infix {
   max-width: 131.55px; 
   max-width: 26.55px; 
}
 */
/* Rule moved to styles.css (element is not
nested within app-root
:host /deep/ .mat-autocomplete-panel {
  width: fit-content;
  max-width: 100vw;
}
*/
