.header {
    background-color: #ffffff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    border-bottom-right-radius: 50px; 
    position: relative;
    padding: 1em 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1); 
}

.header__inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.logo {
    padding-right: 1em;
    max-width: 400px;
}

 .svg--quno-logo {
    fill: #585a51;
    flex: 1;
    max-width: 230px;
    min-width: 180px;
} 
 
.svg--quno-logo .st1 {
    fill: #ffffff;
    opacity: .5;
}

.accreditation-logos img {
    max-width: 50px;
}

:host /deep/ .selectPhone {
    padding-top: 20px;
}

@media (min-width: 600px) {
    
    .header {
        height: 100px;
    }
    
    .header__inner {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .accreditation-logos img {
        max-width: initial;
    }

   .accreditation-logos img:first-child {
        margin-right: 1em;
    }
}

@media (min-width: 804px) {
    .svg--quno-logo {
        max-width: 280px;
    }
}
