<section>
  <div class="wrapper center-content">
    <ng-container *ngFor="let row of strings">

      <figure class="cell">
        <img [lazySrc]="row.doctor.photo" alt="{{row.doctor.name}}">
      </figure>
      <div class="cell">
        <span class="doctor_name margin-bottom--small">{{row.doctor.name}}</span><br>
        <span class="doctor_specialty margin-bottom--small">{{row.doctor.specialty}}</span><br>
        <span class="doctor_location margin-bottom--normal">{{row.doctor.location}}</span><br>
        <span class="review_stars margin-bottom--small"><app-svg-star [starsNumber]="row.review.stars"></app-svg-star></span><br>
        <span class="review_quote">"{{row.review.quote}}"</span>
      </div>
      <div class="cell">
        <span class="treatment_name margin-bottom--normal">{{row.package.treatment}}</span>
        <ul class="treatment_description">
          <li *ngFor="let description of row.package.description">{{description}}</li>
        </ul>
      </div>
      <div class="cell text-align--center last-cell">
        <span class="treatment_price">{{row.package.price}}</span><br>
        <span class="treatment_deal margin-bottom--large">{{row.package.deal}}</span><br>
        <span class="cta_text margin-bottom--small" [innerHTML]="row.cta.text | html"></span><br>
        <button
          class="cta_button"
          mat-button
          mat-raised-button
          appScrollTo
          [scrollTo]="'quote'"
          [duration]="1000"
          [easing]="'easeInOutQuart'"
          [alignCenter]="true">{{row.cta.button_text}}</button>
      </div>

    </ng-container>
  </div>
<section>
