section {
    background-color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; 
    padding: 2em 0;
}

.cell {
    grid-column: 1/3;
    margin-bottom: .5em;
    text-align: center;
}

figure.cell {
    align-self: center;
}

.cell span {
    display: inline-block;
}

.cell img {
    border-radius: 100%;
}

.cell .doctor_name,
.cell .doctor_specialty,
.cell .doctor_location {
    font-weight: bold;
}

.cell .doctor_specialty,
.cell .doctor_location,
.cell .review_quote {
    font-size: .75em;
}

.cell .review_quote {
    font-style: italic;
}

.cell .treatment_name {
    font-weight: bold;
}

.cell .treatment_description {
    font-size: .75em;
}

.cell ul {
    text-align: left;
}

.cell li {
    list-style: inside;
}

.cell .treatment_price {
    font-size: 1.5em;
    font-weight: bold;
}

.cell .treatment_deal {
    font-size: .75em;
}

.cell .cta_text {
    font-size: .75em;
}

.cell .cta_button {
    background-color: #f7d91d;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
}
 
/* .last-cell::after {
    border-top: 2px solid #e1e1e1;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
} */

@media (max-width: 803px) {

    .last-cell {
        justify-self: stretch;
        margin-bottom: 1.5em;
    }

}

@media (min-width: 804px) {
    
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(130px, 200px);
        grid-gap: 1em;
    }

    .cell {
        grid-column: initial;
        margin-bottom: 0;
        text-align: left;
    }

    div.cell {
        padding-top: 2em;
    }
}
