<section class="wrapper center-content">
  
    <figure class="cell">
      <img src="{{strings.doctor.photo}}">
    </figure>
    <div class="cell">
      <span>{{strings.doctor.name}}</span>
      <span>{{strings.doctor.specialty}}</span>
      <span>{{strings.doctor.location}}</span>
      <span>{{strings.review.stars}}</span>
      <span>{{strings.review.quote}}</span>
    </div>
    <div class="cell">
      <span>{{strings.package.treatment}}</span>
      <ul>
        <li *ngFor="let description of strings.package.description">{{description}}</li>
      </ul>
    </div>
    <div class="cell">
      <span>{{strings.package.price}}</span>
      <span>{{strings.package.deal}}</span>
      <span>{{strings.cta.text}}</span>
      <span>{{strings.cta.button_text}}</span>
    </div>
  

  
    <figure class="cell">
      <img src="{{strings.doctor.photo}}">
    </figure>
    <div class="cell">
      <span>{{strings.doctor.name}}</span>
      <span>{{strings.doctor.specialty}}</span>
      <span>{{strings.doctor.location}}</span>
      <span>{{strings.review.stars}}</span>
      <span>{{strings.review.quote}}</span>
    </div>
    <div class="cell">
      <span>{{strings.package.treatment}}</span>
      <ul>
        <li *ngFor="let descrition of strings.package.description">{{description}}</li>
      </ul>
    </div>
    <div class="cell">
      <span>{{strings.package.price}}</span>
      <span>{{strings.package.deal}}</span>
      <span>{{strings.cta.text}}</span>
      <span>{{strings.cta.button_text}}</span>
    </div>
  


</section>