<section>
  <div class="wrapper center-content">
    <div class="row margin-bottom--normal">
      <div class="cell flex-basis--70 margin-bottom--normal">
        <h2 class="margin-bottom--normal">{{strings.title}}</h2>
        <p>{{strings.description}}</p>
      </div>
      <div class="cell flex-basis--20" *ngFor="let src of strings.logo_urls"> 
        <img  [src]="src">
      </div> 
    </div>
    <div class="row">
      <h3>{{strings.press.title}}</h3>
    </div>
    <div class="row flex-wrap--wrap">
      <img *ngFor="let src of strings.press.logo_urls" [src]="src">
    </div>
  </div>
</section>
