.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 2em 0;
    position: relative;
}

.text {
    flex: 0 1 20%;
}

.wrapper__circles {
    flex: 0 0 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .circle {
    display: inline-block;
    height: 0;
    padding-bottom: 30%;
    width: 30%;
    border-radius: 100%;
} 

.circle:nth-of-type(even) {
    background-color: cyan;
}

.circle:nth-of-type(odd) {
    background-color: red;
}