section {
    background-color: #e1e1e1;
}

.wrapper {
    color: #585a51;
    padding: 2em 0;
    position: relative;
}

h2 {
    font-size: 2em;
}

.text {
    text-align: center;
    margin-bottom: 1em;
}

.wrapper__circles {
   display: flex;
   flex-direction: column;
   align-items: center;
}

 .circle {
    border: 2px solid #585a51;
    border-radius: 100%;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    height: 180px;
    width: 180px;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

app-svg-star2 {
    fill: #585a51;
    width: 20px;
}

@media (max-width: 803px) {
    
    .margin-top--negative {
        margin-top: -15px;
    }
}

@media (min-width: 600px) {
    .circle {
        height: 0;
        padding-bottom: 35%;
        width: 35%
    }
}

@media (min-width: 804px) {
    .wrapper {
        display: flex;
        flex-flow: row wrap; 
        align-items: center;
    }
    .wrapper > .text {
        flex: 0 1 20%;
        margin-bottom: 0;
        text-align: left;
    }

    .wrapper__circles {
        flex: 0 0 80%;
        /* display: flex;
        align-items: center; */
        flex-direction: row;
        justify-content: space-around;
    }

    .circle {
        height: 0;
        padding-bottom: 30%;
        width: 30%
    }
}


