.hero {
    background-color: #696B6D;
    /* background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,w_360,q_70,fl_progressive/clinic/BILD1326.jpg');  */
    background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,w_360,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg');
    background-position: top left;
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: -50px;
    color: #fff;
    padding: 2em 0;
}

.hero__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    padding-top: 2em;
}

.hero__values {
    text-align: center;
    /* flex: 1 1 50%;
    align-self: flex-start; */
}

.hero__values h1 {
    margin-bottom: .5em;
    font-size: 2em;
}

.hero__values h2 {
    font-size: 1.5em;
}

.hero__value {
    margin: 1em 0;
}

figure {
    /* flex-basis: 100%; */
    margin-top: 4em;
    height: 103px;
}

mat-icon {
    vertical-align: middle;
}

app-click-funnel {
    flex-basis: 100%;
    max-width: 400px;
}

@media (min-width: 600px) {
    .hero__values h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }
    .hero__inner {
        padding-top: 3em;
    }
}


@media (min-width: 804px) {

    .hero {
        padding: 3em 0;
        background-origin: content-box;
    }

     .hero__inner {
        display: grid;
        grid-template-columns: 1fr minmax(min-content, 400px);
    }

    .hero__values {
        text-align: left;
    }
    .hero__values h1 {
        margin-bottom: 1em;
    }

    .hero__values h2 {
        font-size: 2em;
    }

    .hero__value {
        margin: 1.5em 0;
    }

  /*   app-click-funnel {
        justify-self: end;
    } */
}

/*Responsive background image media query rules*/
@media all and (orientation: landscape) {
    .hero {
        background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,w_360,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg');
    }

    @media (min-width: 360px) {
        .hero {
            background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,w_640,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg') 
        }
    }

    @media (min-width: 640px) {
        .hero {
            background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,w_1024,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg');
        }
    }

    @media (min-width: 1024px) {
        .hero {
            background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,w_1920,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg'); 
        }
    }
}

@media all and (orientation: portrait) {
     .hero {
       background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,c_fill,h_640,w_360,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg')
    }

    @media (min-height: 360px) {
        .hero {
            background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,c_fill,h_1024,w_800,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg')
        }
    }

    @media (min-height: 640px) {
        .hero {
            background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,c_fill,h_1280,w_970,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg')
        }
    }

    @media (min-height: 1024px) {
        .hero{
            background-image: url('https://res.cloudinary.com/junomedical/image/upload/f_auto,c_fill,h_1920,w_1280,q_70,fl_progressive/unbounce/man-with-comb_dark.jpg')
         }
    }
}
   