section {
    background-color: #fff;
}

.wrapper {
    padding: 2em 0;
}

.title {
    font-size: 2em;
}

.review {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5em 0;
}

 .review:not(:last-child)::after { 
/* .review::after { */
    border-top: 2px solid #e1e1e1;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cell {
    display: flex;
    flex-flow: column nowrap;
}

.treatment::before {
    content: '';
    display: block;
    border-top: 1px solid #585a51;
    margin: .5em 0;
    width: 2em;
}

@media (min-width: 600px) {
    .review {
        flex-direction: row;
    }
    .flex-basis--20 {
        margin-bottom: 0;
    }
}

/* Helper classes */

.flex-basis--20 {
    flex-basis: 20%;
    margin-bottom: .5em;
}

.flex-basis--50 {
    flex-basis: 50%;
}
