/* You can add global styles to this file, and also import other style files */

/* RESET STYLES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    /* font-size: inherit; */
    font-family: inherit;
    font-style: normal;
    border: 0;
    text-decoration: none;
}

:active,
:hover,
:focus {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
ng-include {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

html {
    text-size-adjust: 100%;
    /* font-family: sans-serif; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

strong {
    font-weight: 700;
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

a,
button,
input[type="submit"],
input[type="button"],
input[type="image"] {
    cursor: pointer;
}

a,
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    line-height: normal;
    font-family: inherit;
    color: inherit;
    background: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

html input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button>* {
    position: relative;
}

 
h1, h2, h3, h4, h5, h6 {
    font-family: "NettoWeb W03", Roboto, "Helvetica Neue",Arial,sans-serif;
}
p, span, div, input, checkbox, select, option, radio {
    font-family: "AdelleSans W01", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Global Styles */

body {
    background-color: #f6f7fb;
}

.svg {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    position: relative;
    overflow: visible!important;
    display: inline-block;
    vertical-align: top;
}

.svg path {
    transition: all .5s;
}

.center-content {
    max-width: 1100px;
    margin: 0 1em;
   
}

@media (min-width: 600px) {
     
    .center-content {
         margin: 0 2em;
     }
}      

@media (min-width: 1072px) {
    
    .center-content {
        margin: 0 auto;
        min-width: 992px;
        width: 80%;
    }
}

/* Helper Classes */

.font-family--adelle {
    font-family: "AdelleSans W01", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-family--netto {
    font-family: "NettoWeb W03", Roboto, "Helvetica Neue",Arial,sans-serif;
}

.font-size--75 {
    font-size: .75em;
}

.font-weight--bold {
    font-weight: bold;
}

.margin-bottom--small {
    margin-bottom: .5em;
}

.margin-bottom--normal {
    margin-bottom: 1em;
}

.margin-bottom--large {
    margin-bottom: 2em;
}

.margin-right--small {
    margin-right: .5em;
}

.margin-right--normal {
    margin-right: 1em;
}

.margin-right--large {
    margin-right: 2em;
}

.margin-top--small {
    margin-top: .5em;
}

.margin-top--normal {
    margin-top: 1em;
}

.margin-top--large {
    margin-top: 2em;
}

.padding-left--large {
    padding-left: 2em;
}

.text-align--center {
    text-align: center;
}

.text-align--justify {
    text-align: justify;
}

@media (max-width: 599px) {
    .hide--phone {
        display: none!important;
    }
}

@media (min-width: 600px) {

    .show--phone {
        display: none!important;
    }

    @media (max-width: 803px) {
        .hide--tabletMid {
            display: none!important;
        }
    }
    
    @media (max-width: 991px) {
        .hide--tablet{
            display: none!important;
        }
    }
}

@media (min-width: 804px) {
    @media(max-width: 991px) {
        .hide--tabletMidEnd {
            display: none!important;
        }
    }
}

@media (min-width: 992px) {
    .hide--desktop {
        display: none!important;
    }
}